{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-9">
        <h1>Esta es una imagen</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa vel perferendis, quo illum vitae nesciunt officiis pariatur voluptate quibusdam vero recusandae! Consequuntur et deserunt unde asperiores voluptates illo eius accusamus.    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore reiciendis sequi, fugiat rerum eligendi odit, maxime recusandae consequuntur provident accusantium, dicta distinctio unde ducimus quaerat vitae impedit quae laboriosam hic.</p>
    </div>
    <div class="col-3">
       <img src="assets/img/img.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer}}